Source: ros-groovy-libfovis
Section: misc
Priority: extra
Maintainer: Pep Lluis Negre <pl.negre@uib.cat>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-libfovis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Fast Odometry from VISion
